.contact-section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

aside {
    background-color: #02d28e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    padding: 30px;
}

hgroup h2,h3{
    margin-bottom: 25px;
}
.contact-info {
    line-height: 2;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

input[type='text'], [type='email'],textarea {
    background: none;
    border: none;
    border-bottom: solid 1px #474544;
    color: #474544;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 25px;
    padding: 10px 0px;
}

.contact-form-btn {
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {
    .contact-section {
        width: 80%;
        flex-direction: row;
        margin: 100px auto;
        -webkit-box-shadow: -1px 0px 30px 10px rgba(0,0,0,0.2); 
        box-shadow: -1px 0px 30px 10px rgba(0,0,0,0.2);
    }
    input[type='text'], [type='email'],textarea {
        width: 100%;
    }
    aside {
        padding: 50px 50px;
    }
    
    hgroup h2,h3{
        margin-bottom: 25px;
    }
    .contact-info {
        line-height: 3.5;
    }


}