/* HERO SECTION */
.hero-section {
    color: #fff;
    text-align: center;
    background-image: url("../images/hero3.jpg");
    padding: 50px 0px;
    height: 70vh;
}

.hero-section h1 {
    margin-top: 25%;
    font-size: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.hero-btn {
    margin-top: 50px;
    font-size: 1.2em;
    padding: 12px 24px;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
.about-section h2 {
    padding: 50px 40px 0px 40px;
}
.about-section p {
    text-align: justify;
    line-height: 1.5;
    padding: 50px 40px;
}
.about-section-img {
    text-align: center;
    padding-bottom: 50px;
}
.about-section img {
    width: 300px;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    /* HERO SECTION */
    .hero-section {
        height: 90vh;
    }

    .hero-section h1 {
        margin-top: 10%;
    }

    .hero-btn {
        margin-top: 40px;
    }

    /* ABOUT SECTION */
    .about-section {
        padding: 50px 0px;
    }
    .about-section-content {
        display: flex;
        flex-direction: row;
    }
    .about-section p {
        font-size: 1.6rem;
        width: 50%;
    }

    .about-section img {
        width: 700px;
    }
    
}