/* HERO SECTION */
.hero-section {
    color: #fff;
    text-align: center;
    background-image: url("../images/hero3.jpg");
    padding: 50px 0px;
    height: 70vh;
}

.hero-section h1 {
    margin-top: 25%;
    font-size: 50px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.hero-btn {
    margin-top: 50px;
    font-size: 1.2em;
    padding: 12px 24px;
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: #fff;
}
.about-section h2 {
    padding: 50px 40px 0px 40px;
}
.about-section p {
    text-align: justify;
    line-height: 1.5;
    padding: 50px 40px;
}
.about-section-img {
    text-align: center;
    padding-bottom: 50px;
}
.about-section img {
    width: 300px;
}

/* NEWSLETTER SECTION  */
.newsletter-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.newsletter-section h2,h3 {
    padding: 10px 0px;
}
.newsletter-form {
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
}
.newsletter-btn {
    border-radius: 3px;
}

.newsletter-section [type='email'] {
    border: none;
    outline: none;
    border-bottom: solid 1px #474544;
    color: #000;
    font-size: 1em;
    letter-spacing: 1px;
    margin-top: 25px;
    padding: 10px 0px;
}

.newsletter-btn {
    height: 80%;
    margin-top: 25px;
}



/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    /* HERO SECTION */
    .hero-section {
        height: 90vh;
    }

    .hero-section h1 {
        margin-top: 10%;
    }

    .hero-btn {
        margin-top: 40px;
    }

    /* ABOUT SECTION */
    .about-section {
        padding: 50px 0px;
    }
    .about-section-content {
        display: flex;
        flex-direction: row;
    }
    .about-section p {
        font-size: 1.6rem;
        width: 50%;
    }

    .about-section img {
        width: 700px;
    }

    /* NEWSLETTER SECTION  */
    .newsletter-section h2 {
        font-size: 2.8rem;
    }
    .newsletter-section p {
        font-size: 1.8rem;
    }
    
    .newsletter-section [type='email'] {
        font-size: 2rem;
    }

    .newsletter-btn {
        height: 90%;
        font-size: 1.5rem;
        margin-top: 50px;
    }
    
    
}